#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + ' |'
  | 
  a(rel='nofollow', target='_blank', href='http://www.miitbeian.gov.cn/') 京ICP备 17056410 号 | 
  |  Powered by
  a(rel='nofollow', target='_blank', href='https://github.com/pagecho')  Cho
